html,html a{-webkit-font-smoothing:antialiased;text-shadow:1px 1px 1px rgba(0,0,0,.004)}
body,html{height:100%}
.container{-webkit-transition:.3s linear;transition:.3s linear}
section{overflow:auto;padding-top:40px;padding-bottom:40px}
section.section{overflow:hidden}
section.section.first{padding:0}
.ipad{background-image:url(../img/ipad.png);position:absolute;background-repeat:no-repeat;min-height:435px;min-width:830px;right:-160px;padding-top:20px;padding-left:225px;bottom:0}
section.first{background:url(../img/section-bg/bg-1.png) 50% 50%/cover}
section.first .container{height:100%;position:relative;padding-top:20vh}
section.first h3{margin-top:5vh;line-height:35px;margin-bottom:48px;font-size:28px;font-family:helveticaneuecyrlight,arial,sans-serif;color:#934138}
section.first .fb{margin:7vh 0}
section.first .fb .fb-follow{position:absolute;opacity:0}
h1{font-size:48px;margin-top:87px;line-height:48px;margin-bottom:20px;font-family:helveticaneuecyrlight,arial,sans-serif;color:#934138}
h2{font-size:42px;font-family:helveticaneuecyrlight,arial,sans-serif;color:#fff;text-align:center}
h2.orange{color:#f5664b}
h3{font-family:helveticaneuecyrlight,arial,sans-serif;font-size:37px;margin:40px 0}
h3.white{color:#fff}
h3.orange{color:#f5664b}
h5{font-size:22px;text-align:center;color:#666;font-family:helveticaneuecyrlight,arial,sans-serif}
h5.white{color:#fff}
h6{color:#000;text-align:center;font-family:helveticaneuecyrlight,arial,sans-serif;font-size:16px}
p{font-family:helveticaneuecyrlight,arial,sans-serif;font-size:18px;color:#666}
p.white{color:#fff}
section.second{background:#f5664b}
section.second h2{margin:50px auto 15px}
section.second h3{margin-top:10px}
section.second .features{cursor:pointer}
@media (min-height:940px){section.second .features{padding-top:1vh}}
section.second .features .feature+.feature{margin-top:6vh}
section.second .features .feature p{text-align:center;-webkit-transition:.2s ease;transition:.2s ease}
@media (max-height:940px){section.second .features .feature p{font-size:16px}}
section.second .features .feature h5{margin-bottom:1.5vh}
@media (max-height:940px){section.second .features .feature h5{margin-bottom:1vh}}
section.second .features .feature.active .icon{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
section.second .features .feature.active h5,section.second .features .feature.active p{text-shadow:1px 1px 2px rgba(0,0,0,.5)}
section.second .features .feature:hover .icon{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
section.second .features .feature:hover h5,section.second .features .feature:hover p{text-shadow:1px 1px 2px rgba(0,0,0,.5)}
section.second .features .feature.share.active .icon{background-position:0 -397px}
section.second .features .feature.share .icon{background-position:0 -497px}
section.second .features .feature.friends .icon{background-position:0 2px}
section.second .features .feature.friends.active .icon{background-position:0 -195px}
section.second .features .feature.poll .icon{background-position:0 -597px}
section.second .features .feature.poll.active .icon{background-position:0 -697px}
section.second .features .feature.repost .icon{background-position:3px -797px}
section.second .features .feature.repost.active .icon{background-position:-3px -97px}
section.second .features .feature.upload .icon{background-position:0 -1091px}
section.second .features .feature.upload.active .icon{background-position:0 -996px}
section.second .features .feature.explore.active .icon{background-position:0 -897px}
section.second .features .feature.explore .icon{background-position:0 -297px}
section.second .features .feature .icon{-webkit-transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;width:50px;height:50px;margin:10px auto 2vh;background:url(../img/icons.png) no-repeat}
.iphone{width:354px;margin:auto;position:relative;height:744px;padding:80px 15px 10px;background:url(../img/iphone.png) 50% 50% no-repeat}
.iphone.slide-6 .slider-window .canvas{-webkit-transform:translate3d(0px,-2875px,0);transform:translate3d(0px,-2875px,0)}
.iphone.slide-5 .slider-window .canvas{-webkit-transform:translate3d(0px,-2300px,0);transform:translate3d(0px,-2300px,0)}
.iphone.slide-4 .slider-window .canvas{-webkit-transform:translate3d(0px,-1725px,0);transform:translate3d(0px,-1725px,0)}
.iphone.slide-3 .slider-window .canvas{-webkit-transform:translate3d(0px,-1150px,0);transform:translate3d(0px,-1150px,0)}
.iphone.slide-2 .slider-window .canvas{-webkit-transform:translate3d(0px,-575px,0);transform:translate3d(0px,-575px,0)}
.iphone.slide-1 .slider-window .canvas{-webkit-transform:translate3d(0px,0,0);transform:translate3d(0px,0,0)}
.iphone .slider-window{background:#000;overflow:hidden;width:326px;margin:auto;height:575px;position:relative}
.iphone .slider-window .canvas{width:100%;position:relative;-webkit-transition:1s cubic-bezier(0.35,.01,.58,.69);transition:1s cubic-bezier(0.35,.01,.58,.69);left:1px}
.iphone .slider-window .canvas .slide{height:575px}
.iphone .slider-window .canvas .slide img{width:100%;display:block;max-height:100%;margin:auto}
@media (max-height:940px){.iphone{background-position:50% 0;background-size:contain;width:230px;height:470px;padding-top:57px}
.iphone.slide-6 .slider-window .canvas{-webkit-transform:translate3d(0px,-1750px,0);transform:translate3d(0px,-1750px,0)}
.iphone.slide-5 .slider-window .canvas{-webkit-transform:translate3d(0px,-1400px,0);transform:translate3d(0px,-1400px,0)}
.iphone.slide-4 .slider-window .canvas{-webkit-transform:translate3d(0px,-1050px,0);transform:translate3d(0px,-1050px,0)}
.iphone.slide-3 .slider-window .canvas{-webkit-transform:translate3d(0px,-700px,0);transform:translate3d(0px,-700px,0)}
.iphone.slide-2 .slider-window .canvas{-webkit-transform:translate3d(0px,-350px,0);transform:translate3d(0px,-350px,0)}
.iphone.slide-1 .slider-window .canvas{-webkit-transform:translate3d(0px,0,0);transform:translate3d(0px,0,0)}
.iphone .slider-window{left:1px;position:relative;width:197px;height:350px}
.iphone .slider-window .canvas .slide{height:350px}
section.second h2{margin-bottom:10px;margin-top:40px}
section.second h3{margin-top:0}
section.second .features:last-of-type .feature{right:30px;left:auto}
section.second .features .feature{position:relative;left:30px}}
.iphone2{width:211px;height:447px;background:url(../img/iphone2.png)}
section.team{background:#fff}
section.team .profile{max-width:295px;margin:0 auto 5vh;position:relative;outline:0}
section.team .avatar{overflow:hidden;height:162px;-webkit-transition:.6s ease;transition:.6s ease;width:162px;margin:auto;border-radius:50%}
@media (max-height:940px){section.team .avatar{width:120px;height:120px}}
section.team .avatar:hover{border-radius:3%}
section.team .avatar img{width:100%;height:100%;-webkit-transition:.6s ease;transition:.6s ease}
section.team h2{margin:5vh 0 3vh}
section.team h5{margin-top:25px}
@media (max-height:940px){section.team h5{margin-top:10px}}
section.team h5+h6{margin-top:13px}
@media (max-height:940px){section.team h5+h6{margin-top:0}}
section.team p{margin-top:13px;font-size:16px;-webkit-transition:.3s linear;transition:.3s linear;max-height:300px;overflow:hidden;color:#7f8c8d}
@media (max-height:940px){section.team p{font-size:14px;line-height:15px;margin-top:0}}
@media (max-height:940px){section.team .profile{margin-bottom:0}
section.team .avatar{width:120px;height:120px}}
@media (max-width:980px){section.team .profile{position:relative}
section.team .profile:focus p{max-height:300px;padding-top:5px;padding-bottom:5px;box-shadow:0 0 10px rgba(0,0,0,.6);background:rgba(255,255,255,.95)}
section.team .profile p{position:absolute;z-index:10;padding:0 5px;width:100%;max-height:0}}
section.fourth{background:#f3ecd7;padding-bottom:40px}
section.fourth>.container>.row{margin-top:20vh}
section.fourth h3{line-height:48px;margin-right:-15px;margin-bottom:30px;margin-top:35px;-webkit-transition:.3s linear;transition:.3s linear}
@media (max-height:940px){section.fourth h3{line-height:35px}}
section.fourth p{line-height:29px}
section.fourth p+button{margin-top:40px}
button.fb{font-family:helveticaneuecyrlight,arial,sans-serif;color:#fff;font-size:26px;padding:11px 26px 12px 85px;min-width:280px;text-align:right;position:relative;border:none;border-radius:7px;background:#3054a0;box-shadow:inset 0 0 16px #9cb7f2;display:inline-block;-webkit-transition:.3s ease;transition:.3s ease;outline:0}
button.fb:active{box-shadow:inset 0 0 6px rgba(52,78,134,.75)}
button.fb:after{content:'';position:absolute;width:64px;height:77%;background:url(../img/fb-icon.png) 23px 50% no-repeat;top:9%;left:0;border-right:1px solid #fff}
button.button{border-radius:6px;border:2px solid #f5664b;padding:14px 25px;color:#f5664b;font-family:helveticaneuecyrlight,arial,sans-serif;font-size:14px;outline:0;text-align:center;background:rgba(243,236,215,.5);line-height:100%;text-transform:uppercase;-webkit-transition:.3s ease;transition:.3s ease}
button.button:active{background:rgba(245,102,75,.5);border-color:transparent}
.navbar{width:100%;z-index:33;padding-top:24px;background:0 0;border:none;position:fixed}
.navbar .logo{width:190px;float:left;display:block;opacity:1;height:50px;-webkit-transition:.3s ease;transition:.3s ease;background:url(../img/logo.png) 50% 50% no-repeat}
.navbar .nav{padding-top:10px;margin-right:-30px}
.nav.default-nav li+li{margin-left:21px}
.nav.default-nav li>a{color:#934138;border:2px solid transparent;border-radius:6px;padding:8px 5px;text-align:center;min-width:100px;-webkit-transition:.3s linear;transition:.3s linear;font-size:17px;background:rgba(255,255,255,.35);font-family:helveticaneuecyrmedium,arial,sans-serif}
.nav.default-nav li>a:focus{background:rgba(255,255,255,.35);color:#934138}
.nav.default-nav li>a:hover{background:rgba(250,197,182,.5);color:#934138}
.nav.default-nav li.active a{color:#934138;background:rgba(255,255,255,.35);border-color:#ff9884}
.nav.default-nav li.active a:focus,.nav.default-nav li.active a:hover{color:#934138;background:rgba(250,197,182,.5);border-color:transparent}
.modal.contact h5{color:#934138;width:80%;margin-left:auto;margin-right:auto;margin-bottom:15px}
.modal.contact .modal-content{background:#faf7ed;font-family:helveticaneuecyrlight,arial,sans-serif;border-radius:3px;width:330px;margin:auto}
.modal.contact .modal-content form{width:93%;margin:auto}
.modal.contact .modal-content form>label{font-family:inherit;width:100%;color:rgba(76,80,93,.7);display:block;font-size:16px;text-indent:11px}
.modal.contact .modal-content form button{display:block;font-family:inherit;border:none;color:#fff;outline:0;box-shadow:inset 0 0 6px rgba(249,175,162,.75);background:#f5664b;width:100%;-webkit-transition:.3s ease;transition:.3s ease;font-size:22px;margin-top:17px;padding:10px 0;line-height:20px;margin-bottom:10px}
.modal.contact .modal-content form button:active{box-shadow:inset 0 0 6px rgba(52,78,134,.75)}
.modal.contact .modal-content input{height:33px}
.modal.contact .modal-content textarea{min-height:80px}
.modal.contact .modal-content input,.modal.contact .modal-content textarea{width:100%;font-family:inherit;padding:0;outline:0;min-width:100%;margin:2px 0 0;font-size:16px;display:block;max-width:100%;border:1px solid #d8d8d8}
.modal.contact .modal-content input::-webkit-input-placeholder,.modal.contact .modal-content textarea::-webkit-input-placeholder{font-family:inherit;color:rgba(76,80,93,.5);font-size:16px;padding-left:9px}
.modal.contact .modal-content input:-moz-placeholder,.modal.contact .modal-content textarea:-moz-placeholder{font-family:inherit;color:rgba(76,80,93,.5);font-size:16px;padding-left:9px}
.modal.contact .modal-content input::-moz-placeholder,.modal.contact .modal-content textarea::-moz-placeholder{font-family:inherit;color:rgba(76,80,93,.5);font-size:16px;padding-left:9px}
.modal.contact .modal-content input:-ms-input-placeholder,.modal.contact .modal-content textarea:-ms-input-placeholder{font-family:inherit;color:rgba(76,80,93,.5);font-size:16px;padding-left:9px}
.modal.contact .modal-content input.valid::-webkit-input-placeholder,.modal.contact .modal-content textarea.valid::-webkit-input-placeholder{opacity:.68;color:#7aca7a}
.modal.contact .modal-content input.valid:-moz-placeholder,.modal.contact .modal-content textarea.valid:-moz-placeholder{opacity:.68;color:#7aca7a}
.modal.contact .modal-content input.valid::-moz-placeholder,.modal.contact .modal-content textarea.valid::-moz-placeholder{opacity:.68;color:#7aca7a}
.modal.contact .modal-content input.valid:-ms-input-placeholder,.modal.contact .modal-content textarea.valid:-ms-input-placeholder{opacity:.68;color:#7aca7a}
.modal.contact .modal-content input.invalid::-webkit-input-placeholder,.modal.contact .modal-content textarea.invalid::-webkit-input-placeholder{color:#f89898}
.modal.contact .modal-content input.invalid:-moz-placeholder,.modal.contact .modal-content textarea.invalid:-moz-placeholder{color:#f89898}
.modal.contact .modal-content input.invalid::-moz-placeholder,.modal.contact .modal-content textarea.invalid::-moz-placeholder{color:#f89898}
.modal.contact .modal-content input.invalid:-ms-input-placeholder,.modal.contact .modal-content textarea.invalid:-ms-input-placeholder{color:#f89898}