// @import: 'myPerfectMixins';

.media-h(@max-height, @rules) {
  @media (max-height: @max-height) {
    @rules();
  }
}

.media-w(@max-height, @rules) {
  @media (max-width: @max-height) {
    @rules();
  }
}
.placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
} 

@font: arial, sans-serif;

@orange: #934138;
@nav-borders: #ff9884;
@nav-hover: #fac5b6;
@orange-light: #f5664b;
@orange2: #a15045;
@creamy: #f3ecd7;
@gray: #666;
@green: #7aca7a;
@red: #f89898;

@width: 970px;

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
html, body {
  height: 100%;
}
.container {
  // width: @width;
  transition: .3s linear;
}
section {
  // height: 100%;
  // position: relative;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  &.section {
    // display: table-cell;
    // height: 100%;
    // vertical-align: middle;
    overflow: hidden;
    &.first {
      padding: 0;
    }
  }
}
// 1st section



  .ipad {
    background-image: url(../img/ipad.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 435px;
    min-width: 830px;
    right: -160px;
    padding-top: 20px;
    padding-left: 225px;
    bottom: 0;
  }



section.first {
  background: url(../img/section-bg/bg-1.png) 50% 50%;
  background-size: cover;
  .container {
    height: 100%;
    position: relative;
    padding-top: 20vh;
  }
  h3 {
    margin-top: 5vh;
    line-height: 35px;
    margin-bottom: 48px;
    font-size: 28px;
    font-family: 'helveticaneuecyrlight', @font;
    color: @orange;
  }
  .fb {
    margin: 7vh 0;
    .fb-follow {
      position: absolute;
      opacity: 0;
    }
  }
}
// headers
h1 {
  font-size: 48px;
  margin-top: 87px;
  line-height: 48px;
  margin-bottom: 20px;
  font-family: 'helveticaneuecyrlight', @font;
  color: @orange;
}

h2 {
  font-size: 42px;
  font-family: 'helveticaneuecyrlight', @font;
  color: #fff;
  text-align: center;
  &.orange {
    color: @orange-light;
  }
}
h3 {
  font-family: 'helveticaneuecyrlight', @font;
  font-size: 37px;
  margin: 40px 0;
  &.white {
    color: #fff;
  }
  &.orange {
    color: @orange-light;
  }

}
h5 {
  font-size: 22px;
  text-align: center;
  color: @gray;
  font-family: 'helveticaneuecyrlight', @font;
  &.white {
    color: #fff;
  }
}
h6 {
  color: #000;
  text-align: center;
  font-family: 'helveticaneuecyrlight', @font;
  font-size: 16px;
}

p {
  font-family: 'helveticaneuecyrlight', @font;
  font-size: 18px;
  color: @gray;
  &.white {
    color: white;
  }
}
// 2nd section
section.second {
  background: @orange-light;
  h2 {
    margin: 50px auto 15px;
  }
  h3 {
    margin-top: 10px;
  }
  .features {
    @media (min-height:940px) {
      padding-top: 1vh;
    }
    cursor: pointer;

    .feature {
      & + .feature {
        margin-top: 6vh;
      }
      p{
        text-align: center;
        transition: .2s ease;
        @media(max-height: 940px) {
          font-size: 16px;
        }
      }
      h5 {
        @media(max-height: 940px) {
          margin-bottom: 1vh;
        }
        margin-bottom: 1.5vh;
      }
      &.active {
        .icon {
          transform: scale(1.2);
        }
        h5 {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
        }
        p {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
        }
      }
      &:hover {
        .icon {
          transform: scale(1.2);
        }
        h5 {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
        }
        p {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
        }
      }
      &.share {
        &.active .icon {
          background-position: 0 -397px;
        }
        .icon {
          background-position: 0 -497px;
        }
      }
      &.friends {
        .icon {
          background-position: 0 2px;
        }
        &.active .icon{
          background-position: 0 -195px;
        }
      }
      &.poll {
        .icon {
          background-position: 0 -597px;
        }
        &.active .icon {
          background-position: 0 -697px;
        }
      }
      &.repost {
        .icon {
          background-position: 3px -797px;
        }
        &.active .icon {
          background-position: -3px -97px;
        }
      }
      &.upload {
        .icon {
          background-position: 0 -1091px;
        }
        &.active .icon {
          background-position: 0 -996px;
        }
      }
      &.explore {
        &.active .icon {
          background-position: 0 -897px;
        }
        .icon {
          background-position: 0 -297px;
        }
      }
      .icon {
        transition: transform .3s ease-in-out;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        margin-bottom: 2vh;
        background: url(../img/icons.png) 0 0 no-repeat;
      }
    }
  }
}
.iphone {
  @slide-height: 575px;
  @height: 744px;
  .setSlides(6, @slide-height);
  width: 354px;
  margin: auto;
  position: relative;
  height: @height;
  padding: 80px 15px 10px;
  background: url(../img/iphone.png) 50% 50% no-repeat;
  .slider-window {
    background: #000;
    overflow: hidden;
    width: 326px;
    margin: auto;
    height: @slide-height;
    position: relative;
    .canvas {
      width: 100%;
      position: relative;
      transition: 1s cubic-bezier(.35,.01,.58,.69);
      left: 1px;
      .slide {
        height: @slide-height;
        // transition: 1s cubic-bezier(.35,.01,.58,.69);
        // position: absolute;
        // transform: translate3d(100%, 0, 0);
        // z-index: 2;
        img {
          width: 100%;
          display: block;
          max-height: 100%;
          margin: auto;
        }
      }
    }
  }
}
// iphone slider
.media-h(940px, {
  .iphone {
    @slide-height: 350px;
    @slide-width: 197px;
    @height: 470px;
    .setSlides(6, @slide-height);
    background-position: 50% 0;
    background-size: contain;
    width: 230px;
    height: @height;
    padding-top: 57px;
    .slider-window {
      left: 1px;
      position: relative;
      width:  @slide-width;
      height: @slide-height;
      .canvas {
        .slide {
          height: @slide-height;
        }
      }
    }
  }
  section.second {
    h2 {
      margin-bottom: 10px;
      margin-top: 40px;
    }
    h3 {
      margin-top: 0;
    }w
    .features {
      &:last-of-type {
        .feature {
          right: 30px;
          left: auto;
        }
      }
      .feature {
        position: relative;
        left: 30px;
      }
    }
  }
});


// not a slider
.iphone2 {
  width: 211px;
  height: 447px;
  background: url(../img/iphone2.png);
}

// slider list
.setSlides(@num, @height) when (@num > 0) {
  &.slide-@{num} .slider-window{
    .canvas {
      // .slide:nth-of-type(@{prev}) {
      //   z-index: 3;
      //   transform: translate3d(0px, 0, 0px);
      // }
      // .slide:nth-of-type(@{num}) {
      //   z-index: 4;
      //   transform: translate3d(0px, 0, 0px);
      // }
      // top: (@num - 1) * -100%;
      transform: translate3d(0px, (@num - 1) * -(@height), 0px);
    }
  }
  .setSlides((@num - 1), @height);
}

// team section
section.team {
  background: #fff;
  .profile {
    max-width: 295px;
    margin: 0 auto 5vh;
    position: relative;
    outline: none;
    // @media (max-height: 940px) {
    //   margin-bottom: 0;
    //   // width: 200px;
    // }
  }
  .avatar {
    overflow: hidden;
    height: 162px;
    transition: 0.6s ease;
    width: 162px;
    margin: auto;
    border-radius: 50%;
    @media (max-height: 940px) {
      width: 120px;
      height: 120px;
    }
    &:hover {
      border-radius: 3%;
    }
    img {
      width: 100%;
      height: 100%;
      transition: 0.6s ease;
      // border-radius: 100%;
    }
  }
  h2 {
    margin: 5vh 0 3vh;
  }
  h5 {
    @media (max-height: 940px) {
      margin-top: 10px;
    }
    margin-top: 25px;
    &+h6 {
      @media (max-height: 940px) {
        margin-top: 0;
      }
      margin-top: 13px;
    }
  }
  p {
    margin-top: 13px;
    font-size: 16px;
    transition: .3s linear;
    max-height: 300px;
    overflow: hidden;
    color: #7f8c8d;
    @media (max-height: 940px) {
      font-size: 14px;
      line-height: 15px;
      margin-top: 0px;
    }
  }
}

.media-h(940px, {
  section.team {
    .profile {
      margin-bottom: 0;
    }
    .avatar {
      width: 120px;
      height: 120px;
    }
  }
});
.media-w(980px, {
  section.team {
    .profile {
      position: relative;
      &:focus {
        p {
          max-height: 300px;
          padding-top: 5px;
          padding-bottom: 5px;
          box-shadow: 0 0 10px fade(#000, 60%);
          background: fade(#fff, 95%);
        }
      }
      p {
        position: absolute;
        z-index: 10;
        // bottom: 0;
        padding: 0 5px;
        // left: 0;
        width: 100%;
        max-height: 0;
        // position: absolute;
      }
    }
  }
});
// 4th section
section.fourth {
  background: @creamy;
  padding-bottom: 40px;
  &>.container>.row { 
    margin-top: 20vh;
  }
  h3 {
    line-height: 48px;
    margin-right: -15px;
    margin-bottom: 30px;
    margin-top: 35px;
    transition: .3s linear;
    .media-h(940px, {
      line-height: 35px;
      })
  }
  p {
    line-height: 29px;
    &+button {
      margin-top: 40px;
    }
  }
}
// FB button
button.fb {
  font-family: 'helveticaneuecyrlight', @font;
  color: #fff;
  display: inline-block;
  font-size: 26px;
  padding: 11px 26px 12px 85px;
  min-width: 280px;
  text-align: right;
  position: relative;
  border: none;
  border-radius: 7px;
  background: #3054a0;
  box-shadow: inset 0 0 16px #9cb7f2;
  display: inline-block;
  transition: .3s ease;
  outline: none;
  &:active {
    box-shadow: inset 0 0 6px fade(#344e86, 75%);
  }
  &:after {
    content: '';
    position: absolute;
    width: 64px;
    height: 77%;
    background: url(../img/fb-icon.png) 23px 50% no-repeat;
    top: 9%;
    left: 0;
    border-right: 1px solid #fff;
  }
}

// button
button.button {
  border-radius: 6px;
  border: 2px solid @orange-light;
  padding: 14px 25px;
  color: @orange-light;
  font-family: 'helveticaneuecyrlight', @font;
  font-size: 14px;
  outline: none;
  text-align: center;
  background: fade(@creamy, 50%);
  line-height:100%;
  text-transform: uppercase;
  transition: .3s ease;
  &:active {
    background: fade(@orange-light, 50%);
    border-color: transparent;
  }
}

// nav
.navbar {
  width: 100%;
  z-index: 33;
  padding-top: 24px;
  background: transparent;
  border: none;
  position: fixed;
  button.toggle {
    border-color: transparent;
    .icon-bar {
      border-radius: 3px;
      background-color: @orange;
    }
  }
  .logo {
    width: 190px;
    float: left;
    display: block;
    opacity: 1;
    height: 50px;
    transition: .3s ease;
    background: url(../img/logo.png) 50% 50% no-repeat;
  }
  .collapse.in {
    .default-nav {
      li {
        margin: 3px 10px;
         a {
          background: fade(#fff, 70%)
        }
      }
    }
  }
  .nav {
    padding-top: 10px;
    // margin-right: -30px;
  }
}
.nav.default-nav {
  li {
    & + li {
      margin-left: 21px; 
    }
    &>a {
      color: @orange;
      border: 2px solid transparent;
      border-radius: 6px;
      padding: 8px 5px;
      text-align: center;
      min-width: 100px; 
      transition: .3s linear;
      font-size: 17px;
      background: rgba(255, 255, 255, 0.35);
      font-family: 'helveticaneuecyrmedium', @font;
      &:focus {
        background: rgba(255, 255, 255, 0.35);
        color: @orange;
        // border-color: @nav;
      }
      &:hover {
        background: fade(@nav-hover, 50%);
        color: @orange;
      }
    }
    &.active a {
      color: @orange;
      background: rgba(255, 255, 255, 0.35);
      border-color: @nav-borders;
      &:hover, &:focus {
        color: @orange;
        background: fade(@nav-hover, 50%);
        border-color: @nav-borders;
        border-color: transparent;
      }
    }
  }
}

// popup
.modal.contact {
  h5 {
    color: @orange;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .modal-content {
    background: #faf7ed;
    font-family: 'helveticaneuecyrlight', @font;
    border-radius: 3px;
    width: 330px;
    margin: auto;
    form {
      width: 93%;
      margin: auto;
      &>label {
        font-family: inherit;
        width: 100%;
        color: fade(#4c505d, 70%);
        display: block;
        font-size: 16px;
        text-indent: 11px;
      }
      button {
        display: block;
        font-family: inherit;
        border: none;
        color: #fff;
        outline: none;
        box-shadow: inset 0 0 6px fade(#f9afa2, 75%);
        background: @orange-light;
        width: 100%;
        transition: .3s ease;
        font-size: 22px;
        margin-top: 17px;
        padding: 10px 0;
        line-height: 20px;
        margin-bottom: 10px;
        &:active {
          box-shadow: inset 0 0 6px fade(#344e86, 75%);
        }
      }
    }
    input {
      height: 33px;
    }
    textarea {
      min-height: 80px;
    }
    input, textarea {
      width: 100%;
      font-family: inherit;
      padding: 0;
      outline: none;
      min-width: 100%;
      margin: 0;
      margin-top: 2px;
      font-size: 16px;
      display: block;
      max-width: 100%;
      border: 1px solid #d8d8d8;
      .placeholder({
        font-family: inherit;
        color: rgba(76, 80, 93, 0.5);
        font-size: 16px;
        // text-indent: 3.5%;
        padding-left: 9px;
        });
      &.valid {
        .placeholder({
          opacity: .68;
          color: @green;
          });
      }
      &.invalid {
        .placeholder({
          color: @red;
          });
      }
    }
  }
  
}